In [18]:
import pandas as pd
import pandas as pd1
import numpy as np

a=0
print("당신의 점수는 ",a)

당신의 점수는  0

In [19]:
df1 = pd1.read_csv('python_grammer.csv')

for k in range(len(df1)):
    print(df1.iloc[k])
    print(" ")

단어                                            reverse()
뜻                                        문자열을 거꾸로 뒤집는다.
예시    my_list = [1, 2, 3, 4, 5]\nmy_list.reverse()\n...
Name: 0, dtype: object

단어                                               join()
뜻                                      두 개의 문자열을 이어붙인다.
예시    fruits = ["apple", "banana", "orange"]\nresult...
Name: 1, dtype: object

단어                                              lower()
뜻                                    문자열을 모두 소문자로 변환한다.
예시    text = "Hello, World!"\nlowercase_text = text....
Name: 2, dtype: object

단어                                              strip()
뜻                            문자열의 양쪽 끝에서 공백을 제거하는 함수이다.
예시    # Example: 앞쪽 공백 제거\ntext = "   Hello, World! ...
Name: 3, dtype: object

단어                                            replace()
뜻                        문자열에서 특정 문자를 다른 문자로 대체하는 함수이다.
예시    text = "Hello, World!"\nnew_text = text.replac...
Name: 4, dtype: object

In [20]:
df = pd.read_csv('문제.csv')

In [21]:
df

,번호,문제,보기1,보기2,보기3,보기4,정답
0,1,다음 중 문자열을 거꾸로 뒤집는 방법은 무엇인가요?,a. str.reverse(),b. str[::-1],c. str.revert(),d. str.flip(),b
1,2,다음 중 두 개의 문자열을 이어붙이는 올바른 방법은 무엇인가요?,a. str.add(),b. str.concatenate(),c. str.concat(),d. str.join(),d
2,3,다음 중 문자열에서 특정 문자를 다른 문자로 대체하는 함수는 무엇인가요?,a. str.replace(),b. str.substitute(),c. str.change(),d. str.modify(),a
3,4,다음 중 문자열을 모두 소문자로 변환하는 올바른 방법은 무엇인가요?,a. str.lowercase(),b. str.lower(),c. str.small(),d. str.casefold(),b
4,5,다음 중 문자열의 양쪽 끝에서 공백을 제거하는 함수는 무엇인가요?,a. str.strip(),b. str.trim(),c. str.delete(),d. str.remove(),a

In [22]:
test = df.to_numpy()

In [23]:
섞기 = df.sample(len(df))

In [24]:
섞기

,번호,문제,보기1,보기2,보기3,보기4,정답
2,3,다음 중 문자열에서 특정 문자를 다른 문자로 대체하는 함수는 무엇인가요?,a. str.replace(),b. str.substitute(),c. str.change(),d. str.modify(),a
1,2,다음 중 두 개의 문자열을 이어붙이는 올바른 방법은 무엇인가요?,a. str.add(),b. str.concatenate(),c. str.concat(),d. str.join(),d
4,5,다음 중 문자열의 양쪽 끝에서 공백을 제거하는 함수는 무엇인가요?,a. str.strip(),b. str.trim(),c. str.delete(),d. str.remove(),a
3,4,다음 중 문자열을 모두 소문자로 변환하는 올바른 방법은 무엇인가요?,a. str.lowercase(),b. str.lower(),c. str.small(),d. str.casefold(),b
0,1,다음 중 문자열을 거꾸로 뒤집는 방법은 무엇인가요?,a. str.reverse(),b. str[::-1],c. str.revert(),d. str.flip(),b

In [25]:
문제들 = 섞기['문제'].to_numpy()
객관식 = 섞기[['보기1','보기2','보기3','보기4']].to_numpy()
정답 = 섞기['정답'].to_numpy()

In [26]:
정답

array(['a', 'd', 'a', 'b', 'b'], dtype=object)

In [27]:
문제들

array(['다음 중 문자열에서 특정 문자를 다른 문자로 대체하는 함수는 무엇인가요?',
       '다음 중 두 개의 문자열을 이어붙이는 올바른 방법은 무엇인가요?',
       '다음 중 문자열의 양쪽 끝에서 공백을 제거하는 함수는 무엇인가요?',
       '다음 중 문자열을 모두 소문자로 변환하는 올바른 방법은 무엇인가요?',
       '다음 중 문자열을 거꾸로 뒤집는 방법은 무엇인가요?'], dtype=object)

In [28]:
for i,j in enumerate(문제들):
    print(j)
    for j in 객관식[i]:
        print(j)
    x = input()
    if(x == 정답[i]):
        a+=1
        print('정답/',a,"점")
    else:
        print("틀림/",a,"점")

다음 중 문자열에서 특정 문자를 다른 문자로 대체하는 함수는 무엇인가요?
a. str.replace()
b. str.substitute()
c. str.change()
d. str.modify()
틀림/ 0 점
다음 중 두 개의 문자열을 이어붙이는 올바른 방법은 무엇인가요?
a. str.add()
b. str.concatenate()
c. str.concat()
d. str.join()
틀림/ 0 점
다음 중 문자열의 양쪽 끝에서 공백을 제거하는 함수는 무엇인가요?
a. str.strip()
b. str.trim()
c. str.delete()
d. str.remove()
틀림/ 0 점
다음 중 문자열을 모두 소문자로 변환하는 올바른 방법은 무엇인가요?
a. str.lowercase()
b. str.lower()
c. str.small()
d. str.casefold()
틀림/ 0 점
다음 중 문자열을 거꾸로 뒤집는 방법은 무엇인가요?
a. str.reverse()
b. str[::-1]
c. str.revert()
d. str.flip()
틀림/ 0 점